{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post, comments in posts.items() %}
    <div class="card" style="width: 18rem; margin-bottom: 50px;">
        <div class="card-header">
            <a href="">
                <h3>{{ post }}</h3>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            {% for comment in comments %}
                <li class="list-group-item">{{ comment['comment_text'] }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}